.mt-11
{
margin-top: 1rem;
}
.ml-11
{
margin-left: 1rem;
}
.mr-11
{
margin-right: 1rem;
}
.mb-11
{
margin-bottom: 1rem;
}
.mt-22
{
margin-top: 2rem;
}
.ml-22
{
margin-left: 2rem;
}
.mr-22
{
margin-right: 2rem;
}
.mb-22
{
margin-bottom: 2rem;
}
.mt-33
{
margin-top: 3rem;
}
.ml-33
{
margin-left: 3rem;
}
.mr-33
{
margin-right: 3rem;
}
.mb-33
{
margin-bottom: 3rem;
}
.mx-11
{
margin-left: 1rem;
margin-right: 1rem;
}
.mx-22
{
margin-left: 2rem;
margin-right: 2rem;
}
.mx-33
{
margin-left: 3rem;
margin-right: 3rem;
}

.my-11
{
margin-top: 1rem;
margin-bottom: 1rem;
}
.my-22
{
margin-top: 2rem;
margin-bottom: 2rem;
}
.my-33
{
margin-top: 3rem;
margin-bottom: 3rem;
}

.pt-11
{
padding-top: 1rem;
}
.pl-11
{
padding-left: 1rem;
}
.pr-11
{
padding-right: 1rem;
}
.pb-11
{
padding-bottom: 1rem;
}
.pt-22
{
padding-top: 2rem;
}
.pl-22
{
padding-left: 2rem;
}
.pr-22
{
padding-right: 2rem;
}
.pb-22
{
padding-bottom: 2rem;
}
.pt-33
{
padding-top: 3rem;
}
.pl-33
{
padding-left: 3rem;
}
.pr-33
{
padding-right: 3rem;
}
.pb-33
{
padding-bottom: 3rem;
}
.px-11
{
padding-left: 1rem;
padding-right: 1rem;
}
.px-22
{
padding-left: 2rem;
padding-right: 2rem;
}
.px-33
{
padding-left: 3rem;
padding-right: 3rem;
}
.py-11
{
padding-top: 1rem;
padding-bottom: 1rem;
}
.py-22
{
padding-top: 2rem;
padding-bottom: 2rem;
}
.py-33
{
padding-top: 3rem;
padding-bottom: 3rem;
}